@charset "UTF-8";
/* Установки для всего документа */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
}

body {
  font-family: "Roboto";
  font-style: normal;
}

header {
  z-index: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  min-width: 400px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 60px;
  }
}

.sec-ourside h2,
.sec-ourwork h2,
.sec-ourteam h2,
.sec-ourclients h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .sec-ourside h2,
  .sec-ourwork h2,
  .sec-ourteam h2,
  .sec-ourclients h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

/* Стилизация всех кнопок */
.main-button,
.button-filter,
.form-sendbutton,
.button-foot {
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  border: none;
  outline: none;
}

/* Основной блок навигации */
.nav-mainitem {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.nav-mainitem:hover, .nav-mainitem:focus {
  color: #2196f3;
}

.nav-mainitem.selected {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  color: #2196f3;
}

.nav-mainitem.selected::after {
  position: absolute;
  bottom: -32px;
  content: "";
  width: 100%;
  height: 4px;
  background-image: url("../images/line.svg");
  border-radius: 4px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-maincontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-maincontainer li:not(:last-child) {
  margin-right: 50px;
}

/* Блок навигации по адрессу (в шапке и в футере)*/
address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.nav-adressitem {
  display: inline-block;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.nav-adressitem:hover, .nav-adressitem:focus {
  color: #2196f3;
  --color5: var(--accent-color);
}

.nav-adresscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svgnav-item {
  vertical-align: middle;
}

.nav-adresscontainer li:not(:last-child) {
  margin-right: 30px;
}

nav address {
  margin-left: auto;
}

/* Футер */
footer {
  margin-top: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #f5f4fa;
}

footer h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.foot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer address {
  margin-top: 20px;
}

footer p {
  margin-bottom: 0;
}

.nav-adressitem-foot {
  color: #757575;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.nav-adressitem-foot:hover, .nav-adressitem-foot:focus {
  color: #2196f3;
}

.svgnav-item-foot {
  --color6: white;
}

.cont_connect {
  margin-left: 90px;
}

.cont_connect ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttonlinkfoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.buttonlinkfoot li:not(:last-child) {
  margin-right: 10px;
}

.buttonlinkfoot a {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.buttonlinkfoot a:hover {
  background-color: #2196f3;
  color: white;
}

.buttonlinkfoot a svg {
  fill: currentColor;
}

.cont_rassilka {
  margin-left: 94px;
}

.e-mail-foot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
  font-size: 16px;
  border-radius: 5px;
  color: #757575;
  background-color: #2f303a;
  border: 1px solid #757575;
  outline: none;
}

.button-foot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin-left: 10px;
  background-color: #2196f3;
  color: #fff;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.button-foot::after {
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/iconsend.svg);
  background-size: contain;
}

.button-foot:hover, .button-foot:focus {
  background-color: #49a5f0;
}

/* Модальные окна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  color: #757575;
  text-align: center;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.modal h2 {
  margin: 0;
  font-size: 20px;
  color: #212121;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #d1cfcf;
  outline: none;
}

.button-close:hover {
  fill: #2196f3;
}

.form-field {
  position: relative;
  margin-top: 30px;
}

.form-input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d1cfcf;
  outline: none;
}

.form-input:focus {
  border: 1px solid #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label {
  -webkit-transform: translate(-20px, -40px);
          transform: translate(-20px, -40px);
  font-size: 12px;
  color: #2196f3;
}

.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-20px, -40px);
          transform: translate(-20px, -40px);
  font-size: 12px;
}

.icon-Human {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 16px;
}

.form-input:focus ~ .icon-Human {
  fill: #2196f3;
}

.form-tel {
  position: relative;
  margin-top: 30px;
}

.form-inputtel {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d1cfcf;
  outline: none;
}

.form-inputtel:focus {
  border: 1px solid #2196f3;
}

.form-label-tel {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-inputtel:focus + .form-label-tel {
  -webkit-transform: translate(-20px, -40px);
          transform: translate(-20px, -40px);
  font-size: 12px;
  color: #2196f3;
}

.form-inputtel:not(:placeholder-shown) + .form-inputtel:focus + .form-label-tel {
  -webkit-transform: translate(-20px, -40px);
          transform: translate(-20px, -40px);
  font-size: 12px;
}

.icon-Trubka {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 16px;
}

.form-inputtel:focus ~ .icon-Trubka {
  fill: #2196f3;
}

.form-mail {
  position: relative;
  margin-top: 30px;
}

.form-inputmail {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d1cfcf;
  outline: none;
}

.form-inputmail:focus {
  border: 1px solid #2196f3;
}

.form-label-mail {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-inputmail:focus + .form-label-mail {
  -webkit-transform: translate(-20px, -40px);
          transform: translate(-20px, -40px);
  font-size: 12px;
  color: #2196f3;
}

.form-inputmail:not(:placeholder-shown) + .form-label-mail {
  -webkit-transform: translate(-20px, -40px);
          transform: translate(-20px, -40px);
  font-size: 12px;
}

.icon-Konvert {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 16px;
}

.form-inputmail:focus ~ .icon-Konvert {
  fill: #2196f3;
}

.form-komment {
  position: relative;
  margin-top: 30px;
}

.form-areakomment {
  width: 100%;
  height: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d1cfcf;
  outline: none;
  resize: none;
}

.form-areakomment:focus {
  border: 1px solid #2196f3;
}

.form-label-komm {
  position: absolute;
  top: 18px;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-areakomment:focus + .form-label-komm {
  -webkit-transform: translate(3px, -40px);
          transform: translate(3px, -40px);
  font-size: 12px;
  color: #2196f3;
}

.form-areakomment:not(:placeholder-shown) + .form-areakomment:focus + .form-label-komm {
  -webkit-transform: translate(3px, -40px);
          transform: translate(3px, -40px);
  font-size: 12px;
}

.form-check {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
}

.label-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
}

.checkbox:checked + .icon {
  border: none;
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
}

.form-sendbutton {
  font-weight: bold;
  background-color: #2196f3;
  color: #fff;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-sendbutton:hover, .form-sendbutton:focus {
  background-color: #49a5f0;
}

/* Секция Героя */
.sec-hero h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 30;
}

.headerbkgr {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/HeaderMobileOptim.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/HeaderMobileOptim.jpg");
  height: 400px;
  padding-top: 116px;
  background-size: cover;
  max-width: 1600px;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  /* background-position: center; */
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .headerbkgr {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 47, 124, 0.8)), to(rgba(40, 47, 124, 0.8))), url("../images/HeaderMobileOptim@2x.jpg");
    background-image: linear-gradient(rgba(40, 47, 124, 0.8), rgba(40, 47, 124, 0.8)), url("../images/HeaderMobileOptim@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .headerbkgr {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/HeaderTabletOptim.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/HeaderTabletOptim.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .headerbkgr {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 47, 124, 0.8)), to(rgba(40, 47, 124, 0.8))), url("../images/HeaderTabletOptim@2x.jpg");
    background-image: linear-gradient(rgba(40, 47, 124, 0.8), rgba(40, 47, 124, 0.8)), url("../images/HeaderTabletOptim@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .headerbkgr {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/HeaderDesktopOptim.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/HeaderDesktopOptim.jpg");
    height: 600px;
    padding-top: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .headerbkgr {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 47, 124, 0.8)), to(rgba(40, 47, 124, 0.8))), url("../images/HeaderDesktopOptim@2x.jpg");
    background-image: linear-gradient(rgba(40, 47, 124, 0.8), rgba(40, 47, 124, 0.8)), url("../images/HeaderDesktopOptim@2x.jpg");
  }
}

.main-button {
  font-weight: bold;
  background-color: #2196f3;
  color: #fff;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.main-button:hover, .main-button:focus {
  background-color: #49a5f0;
}

/* Секция "Наши сильные стороны*/
.sec-ourside {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .sec-ourside {
    margin-top: 94px;
  }
}

.sec-ourside h2 {
  display: none;
}

.sec-oursidelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .sec-oursidelist > li {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .sec-oursidelist > li {
    width: calc((100% - 30px) / 2);
  }
  .sec-oursidelist > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-oursidelist > li {
    width: calc((100% - 30px * 3) / 4);
  }
  .sec-oursidelist > li:not(:last-child) {
    margin-right: 30px;
  }
}

.oursidebgicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 5px;
}

.icon-antenna,
.icon-astronaut,
.icon-clock,
.icon-diagram {
  margin: auto;
}

.sec-ourside h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .sec-ourside h3 {
    text-align: left;
  }
}

.sec-ourside p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-top: 10px;
}

/* Секция "Чем  мы занимаемся*/
.sec-ourwork {
  display: none;
}

@media screen and (min-width: 1200px) {
  .sec-ourwork {
    display: block;
    margin-top: 94px;
  }
}

.sec-ourworklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.sec-ourworklist > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  height: 294px;
  width: 370px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sec-ourworklist > li:not(:last-child) {
  margin-right: 30px;
}

.sec-ourworklist > li > div {
  height: 70px;
  width: 100%;
  padding-top: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  text-align: center;
}

.sec-ourworklist > li:nth-child(1) {
  background-image: url("../images/boxOptim1.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .sec-ourworklist > li:nth-child(1) {
    background-image: url("../images/boxOptim1@2x.jpg");
  }
}

.sec-ourworklist > li:nth-child(2) {
  background-image: url("../images/boxOptim2.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .sec-ourworklist > li:nth-child(2) {
    background-image: url("../images/boxOptim2@2x.jpg");
  }
}

.sec-ourworklist > li:nth-child(3) {
  background-image: url("../images/boxOptim3.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .sec-ourworklist > li:nth-child(3) {
    background-image: url("../images/boxOptim3@2x.jpg");
  }
}

.sec-ourworklist h3 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

/* Секция "Наша команда*/
.sec-ourteam {
  background-color: #f5f4fa;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .sec-ourteam {
    margin-top: 94px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.sec-ourteam h2 {
  margin: 0;
}

.sec-ourteamlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .sec-ourteamlist {
    margin-top: 50px;
  }
}

.sec-ourteamlist > li {
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  padding-bottom: 24px;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .sec-ourteamlist > li {
    width: 100%;
  }
  .sec-ourteamlist > li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sec-ourteamlist > li {
    width: calc((100% - 30px) / 2);
  }
  .sec-ourteamlist > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .sec-ourteamlist > li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-ourteamlist > li {
    width: calc((100% - 30px * 3) / 4);
    margin-bottom: 0;
  }
  .sec-ourteamlist > li:not(:last-child) {
    margin-right: 30px;
  }
}

.sec-ourteam h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.sec-ourteam p {
  margin-top: 10px;
  margin-bottom: 0;
  color: #757575;
}

.sec-ourteamlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.buttonlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 10px;
  padding-left: 10px;
}

.buttonlink a {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.buttonlink a:hover {
  background-color: #2196f3;
  color: white;
}

.buttonlink a svg {
  fill: currentColor;
}

/* Секция "Постоянные клиенты*/
.sec-ourclients {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .sec-ourclients {
    margin-top: 94px;
  }
}

.sec-ourclientslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .sec-ourclientslist {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .sec-ourclientslist > li {
    width: calc((100% - 30px) / 2);
  }
  .sec-ourclientslist > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .sec-ourclientslist > li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sec-ourclientslist > li {
    width: calc((100% - 30px * 2) / 3);
  }
  .sec-ourclientslist > li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .sec-ourclientslist > li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-ourclientslist > li {
    width: calc((100% - 30px * 5) / 6);
  }
  .sec-ourclientslist > li:not(:last-child) {
    margin-right: 30px;
  }
}

.ourclientsicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  border-radius: 5px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.ourclientsicons:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.icon-logo1,
.icon-logo2,
.icon-logo3,
.icon-logo4,
.icon-logo5,
.icon-logo6 {
  margin: auto;
  fill: currentColor;
}

/* Кнопки на странице портфолио */
.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .button-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-top: 94px;
  }
}

.button-list > li:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.button-filter {
  color: inherit;
  padding: 0px 25px;
  border: none;
  height: 40px;
  border-radius: 5px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.button-filter:hover {
  background-color: #2196f3;
  color: #fff;
}

/* Секция "Портфолио наших работ*/
.portfolio-title {
  display: none;
}

.sec-ourportfolio {
  margin-top: 14px;
}

@media screen and (min-width: 1200px) {
  .sec-ourportfolio {
    margin-top: 34px;
  }
}

.sec-ourportfolio h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin-left: 24px;
}

.sec-ourportfolio p {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
  margin-left: 24px;
}

.sec-ourportfoliolist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec-ourportfoliolist > li {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.sec-ourportfoliolist > li > a {
  display: block;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .sec-ourportfoliolist > li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sec-ourportfoliolist > li:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .sec-ourportfoliolist > li:not(:nth-last-child(-n + 1)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-ourportfoliolist > li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .sec-ourportfoliolist > li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.sec-ourportfoliolist img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .sec-ourportfoliolist img {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sec-ourportfoliolist img {
    width: 354px;
    height: 294px;
  }
}

.overley {
  background-color: RGB(33, 150, 243, 0.8);
  position: absolute;
  height: 100%;
  top: 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-ourportfoliolist > li:hover .overley {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.overley p {
  color: white;
}
/*# sourceMappingURL=main2.css.map */