.footer {
	background: $footer-bg-color;
	& .container {
		display: flex;

		padding-bottom: 60px;
	}
	&-block-one {
		margin-right: 70px;
		margin-top: 60px;
	}
	&-block-two {
		margin-right: 94px;
		margin-top: 75px;
	}
	&-block-three {
		margin-top: 75px;
	}
	&-header {
		width: 219px;
		height: 16px;
		margin-bottom: 20px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;

		color: $primary-white-color;
	}
	&-submit-form {
		display: flex;
	}
	&-submit-input {
		display: flex;
		flex-direction: column;
	}
	&-submit-input input {
		width: 358px;
		height: 50px;
		padding: 16px;

		border: 1px solid rgba(255, 255, 255, 0.3);
		box-sizing: border-box;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
		background: $footer-bg-color;
	}
	&-button {
		display: inline-block;
		text-align: center;

		border-style: none;
		width: 200px;
		height: 50px;
		margin-top: 36px;
		margin-left: 12px;

		font-family: Roboto;
		text-decoration: none;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;

		letter-spacing: 0.06em;

		color: $primary-white-color;

		background: $accent-color;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&-button:hover,
	&-button:focus {
		outline: 1px solid $accent-color;
	}
	&-button-icon {
		display: inline-flex;
		vertical-align: middle;

		margin-left: 10px;

		fill: $fill-color;
	}
	& .logo-2 {
		display: flex;
		font-family: raleway, sans-serif;
		font-weight: 700;
		font-size: 26px;
		line-height: 31px;
		text-decoration: none;
	}
	&-contacts {
		margin-top: 20px;
	}
	&-contacts span {
		font-family: roboto, sans-serif;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: $primary-white-color;
		text-decoration: none;
		font-style: normal;
	}

	&-contacts a {
		font-family: roboto, sans-serif;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		text-decoration: none;
		font-style: normal;
		color: rgba(255, 255, 255, 0.6);
	}
	&-social-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		background: rgba(255, 255, 255, 0.1);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		fill: $primary-white-color;
		border-radius: 50%;
	}
	&-social-icon-item:not(:last-child) {
		margin-right: 10px;
	}
	&-social-button:hover,
	&-social-button:focus {
		background: $accent-color;
	}
	&-social-button:hover &-social-icon,
	&-social-button:focus &-social-icon {
		fill: $primary-white-color;
	}
	.contacts-list .item {
		margin-top: 9px;
	}
}
.logo-2 {
	& span {
		color: $accent-color;
	}
	& p {
		color: $primary-white-color;
	}
	& span:visited {
		color: $title-text-color;
	}
	& p:visited {
		color: #000;
	}
}

.join-us {
	font-family: roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: $primary-white-color;
	&-list {
		display: flex;
		justify-content: center;
		margin-top: 20px;

		margin-bottom: 30px;
	}
}
