.sec-ourside {
  margin-top: 60px;

  @media screen and (min-width: $desktop) {
    margin-top: 94px;
  }
}

.sec-ourside h2 {
  display: none;
}

.sec-oursidelist {
  display: flex;
  flex-wrap: wrap;
}

.sec-oursidelist > li {
  @media screen and (min-width: $mobile) {
    width: 100%;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 30px * 3) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.oursidebgicon {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 5px;
}

.icon-antenna,
.icon-astronaut,
.icon-clock,
.icon-diagram {
  margin: auto;
}

.sec-ourside h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
  margin-top: 30px;
}

.sec-ourside p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $secondary-text-color;

  margin-top: 10px;
}
