.feature-section {
	padding-top: 94px;
}
.feature-list {
	display: flex;
	flex-wrap: wrap;

	.item::before {
		display: block;
		content: " ";
		height: 120px;
		margin-bottom: 30px;

		background: $primarly-bg-color;
		border-radius: 4px;
		background-position: center;
		background-size: auto;
		background-repeat: no-repeat;
	}
	.icon-antenna::before {
		background-image: url("../images/icons/antenna.svg");
	}
	.icon-clock::before {
		background-image: url("../images/icons/clock.svg");
	}
	.icon-diagram::before {
		background-image: url("../images/icons/diagram.svg");
	}
	.icon-astronaut::before {
		background-image: url("../images/icons/astronaut.svg");
	}
	.feature-img {
		margin-bottom: 30px;
	}
	.item {
		width: 270px;
	}
	.item:not(:last-child) {
		margin-right: 30px;
	}
	.description {
		margin-top: 10px;

		margin-bottom: 0px;
		font-family: roboto, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;

		letter-spacing: 0.03em;

		color: $fill-color;
	}
	img {
		width: 270px;
		height: 120px;

		background: $primarly-bg-color;
		border-radius: 4px;
	}
	&-name {
		width: 270px;
		height: 16px;

		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;

		color: $title-text-color;
	}
}

.site-features {
	h3 {
		font-family: roboto, sans-serif;

		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;

		color: $title-text-color;
	}
	p {
		font-family: roboto, sans-serif;

		font-size: 14px;
		line-height: 24px;

		letter-spacing: 0.03em;

		color: $fill-color;
	}
}
